.carousel {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 900px;
    height: 500px;
    overflow: hidden;
}

/* Botões */
.btn-esquerda, .btn-direita {
    background-color: transparent;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    border-radius: 50%;
    z-index: 10;
}

.btn-esquerda { left: 0px; }
.btn-direita { right: 0px; }


/* Cards */
.card-container {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 1000px;
    padding-top: 50px;
}

.card {
    position: absolute;
    width: 300px;
    height: 400px;
    background: rgb(214, 190, 190);
    border-radius: 15px;
    padding: 15px;
    text-align: center;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}


.slide-0 {
    transform: translateX(-90%) scale(0.9); 
    opacity: 0.7;
    z-index: 1;
}
.slide-1 {
    transform: translateX(0) scale(1);
    opacity: 1;
    z-index: 2;
}
.slide-2 {
    transform: translateX(90%) scale(0.9); 
    opacity: 0.7;
    z-index: 1;
}



.animating {
    transition: transform 0.9s ease-in-out, opacity 0.9s ease-in-out;
}

/* Imagens */
.card img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.card h3 {
    margin: 10px 0;
    font-size: 20px;
    color: #000000;
}

.card p{
    color: white;
}

@media (max-width: 768px) {
    .card{
        width: 80px;
        height: 200px;
    }

    .card img{
        height: 40px;
        width: 40px;
    }

    .card h3{
        font-size: 12px;
    }

    .card p{
        font-size: 10px;
    }

    .btn-esquerda, .btn-direita{
        display: none;
    }
  }


